[project]
	description = Command line interface for autolab
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Utkarsh Rai (utkarshrai)
[access "refs/for/refs/*"]
	read = group user/Utkarsh Rai (utkarshrai)
	push = group user/Utkarsh Rai (utkarshrai)
	label-Code-Review = -2..+2 group user/Utkarsh Rai (utkarshrai)
	label-Verified = -1..+1 group user/Utkarsh Rai (utkarshrai)
	rebase = group user/Utkarsh Rai (utkarshrai)
	removeReviewer = group user/Utkarsh Rai (utkarshrai)
	submit = group user/Utkarsh Rai (utkarshrai)
[access "refs/heads/*"]
	read = group user/Utkarsh Rai (utkarshrai)
	create = group user/Utkarsh Rai (utkarshrai)
	push = +force group user/Utkarsh Rai (utkarshrai)
	pushMerge = group user/Utkarsh Rai (utkarshrai)
[access "refs/tags/*"]
	push = group user/Utkarsh Rai (utkarshrai)
	push = +force group user/Utkarsh Rai (utkarshrai)
